@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Ubuntu:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font-500: "Inter", sans-serif;
  --button-color: #5e3bee;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

header {
  width: 100%;
  height: 84px;
  outline: 2px solid red;
  position: absolute;
  top: 0;
  left: 0;
}
